# Ambiente de execução
NODE_ENV=development

# Nível de log
LOG_LEVEL=info

# Providers habilitados (lista separada por vírgula)
PROVIDERS_ENABLED=aws

# Configuração do provedor (use "test" para LocalStack ou credenciais reais do provedor)
CLOUD_REGION=sa-east-1
CLOUD_ACCESS_KEY_ID=test
CLOUD_SECRET_ACCESS_KEY=test

# Endpoint customizado (use para LocalStack, remova ou comente para provedores gerenciados)
CLOUD_ENDPOINT_URL=http://localstack:4566
CHOKIDAR_USEPOLLING=1
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318